body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0px;
}

.header {
    background: #456896;
    color: #010101;
    padding-top: 8px;
    padding-bottom: 8px;
}

.col-lg-4 a img {
    padding-top: 9px
}

.menu {
    margin-top:0px;
}

.menu__item {
    margin: 0 30px
}

.menu__item a {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
}

h2 {
    font-size: 45px;
    font-weight: 800;
    color: #000;
}
